<%= render "shared/header"%>
<h2>認証メール再送信</h2>

<%= form_with model: @user, url: confirmation_path(resource_name), local: true do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="mb-3 w-25">
    <%= f.label :email, class:"form-label"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) , class:"form-control"%>
  </div>

  <div class="actions mb-3">
    <%= f.submit "再送信", class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
