<%= render "shared/header"%>
<h2>アカウントのロック解除方法を再送する</h2>

<%= form_with model: @user, url: unlock_path(resource_name), local: true do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control w-25" %>
  </div>

  <div class="actions mb-3">
    <%= f.submit "再送する", class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
