<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Game Review", root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Top", root_path,class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Nintendo Switch","#",class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "PS5","#",class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Xbox X/S","#",class:"nav-link"%>
        </li>
    </div>
  </div>
</nav>