<body>
<%= render "/shared/header" %>

<p><%= @game.title%></p>
<p>パブリッシャー:<%= @game.maker%></p>
<p>リリース日:<%=@game.release_date%></p>
<% @hardwares.each do |hardware|%>
    <p><%=hardware.name%></p>
<% end %>
<% @genres.each do |genre|%>
    <p><%=genre.name%></p>
<% end %>
<%=link_to 'レビュー投稿', new_game_review_path(@game), class:"btn btn-primary"%>
</body>